<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="Suite">
    <listeners>
        <listener class-name="Listeners.MyListeners" />
    </listeners>
    <test name="My test cases">
        <classes>

            <class name="CreateAccount"/>
            <class name="Signin"/>
            <class name="ForgotPassword"/>
            <class name="Search"/>

        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->
